/* custom property */
/* al root se lo conoce como pseudoselectores */
:root {
    /* a estas variables se las conoce como custom-properties */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/* hack para el uso de rem, 1px=0.0625rem */
/* se hace que 1rem=10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    /* similar es:
                margin: 0 auto 0 auto;
                margin: 0 auto;
    */
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: row; /* por defecto, otra es column */
    /* flex-direction:row -> justify-content:space-between */
    /* flex-direction:column -> align-items:center */
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700; /* 700 = bold , 400 = normal */
    padding: 1rem;
}

.navegacion-principal a:hover { /* uso de pseudoclase para el evento hover */
    background-color: var(--primario);
    color: var(--oscuro);
}

